<h1>Doctors</h1>

<p>Create a Doctor#index page that displays each doctor's name, a link to their show page, and a count of their patients. </p>
<%=button_to 'All patients', patients_path, method: 'get' %>

<ul>

<%@doctors.each do |doctor|%>
<li><%=link_to doctor.name, doctor_path(doctor) %> --
Number of Patients: <%=doctor.patients.count%>



</li>

<%end%>
</ul>
