<h3><%= link_to @doctor.name, edit_doctor_path(@doctor) %></h3>
<p>Department: <%= @doctor.department %></p>
<% @doctor.my_appts.each do |appt|  %>
<p><%= link_to appt.patient.name, patient_path(appt.patient) %></p>
<% end %>

<p><%= link_to 'Index', doctors_path %></p>
