<h1>Appointment Info Page</h1>
<p>page that shows the date, time, patient, and doctor for that particular appointment</p>
<h4><%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></h4>
<p>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %><br>
Doctor:<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
